# Ignore all image files
*.jpg
*.png
*.jpeg
*.pt
*.svg
*.txt
*.safetensors
# Ignore pycharm and system files
.DS_Store
*.idea
__pycache__
.ipynb_checkpoints
*.zip
*.log
train_fc2icd.py
eval_icd2fc.ipynb
# Ignore dataset files
*.csv
# *.json

# Ignore checkpoints
*.pth

# Ignore pickle files
*.pkl